body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #1f232c;
}

.full-section {
    font-size: 1rem;
    font-weight: 1.5;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
    padding-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.section {
    font-size: 1rem;
    color: white;
    max-width: 1450px;
    margin: 0 auto;
}

.header {
    max-width: 1450px;
    margin: 0 auto;
    padding: 10px 50px;
}

.wrapper {
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 40px 25px;
}

.title {
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
}

.title-1 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.1vw;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sub-title {
    font-weight: 400;
    font-size: 0.9vw;
    color: #9A9D9B;
}

.sub-title-1 {
    font-weight: 400;
    font-size: 14px;
    color: #dddddd;
    letter-spacing: 1px;
}

.bordered-button {
    border: none;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
    margin: 2px;
}

.btn-md {
    width: 150px;
    height: 35px;
    font-size: 15px;
}

.table {
    width: 100%;
    display: table;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;

    & .table-header {
        display: table-header-group;
        background-color: #BFBFBF;
        font-weight: bold;

        & .th-cell {
            display: table-cell;
            padding: 5px;
            text-align: justify;
        }

        & .th-cell:nth-child(even) {
            border-left: 2px solid;
            border-right: 2px solid;
        }
    }

    & .table-body {
        display: table-row-group;

        & .table-row {
            display: table-row;

            & .table-cell {
                display: table-cell;
                padding: 5px;
            }

            & .table-cell:empty::after {
                content: "\00a0";
            }

            & .table-cell:nth-child(even) {
                border-left: 2px solid;
                border-right: 2px solid;
            }
        }

        & .table-row:nth-child(odd) {
            background-color: #f2f2f2;
        }

        & .table-row:nth-child(even) {
            background-color: #fff;
        }
    }
}

.navtab {
    padding: 0px;
    margin: 0px;
    height: 70px;
    background-color: #2B3342;
}

.navBtn {
    height: 75px;
    width: 100%;
    font-size: 1.2rem;
    background-color: #BFBFBF;
    color: #000000;
    cursor: pointer;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.active {
    background-color: #FFFFFF;
}

.box {
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
    padding: 5px;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
    padding: 5px;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 5px;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.text-end {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

.text-start {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.text-center {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bordered-input {
    width: 100%;
    height: 25px;
    border: 2px solid;
    border-radius: 5px;
}

.bordered-div {
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;

    & .div-header {
        line-height: 1.5;
        font-weight: 100;
        margin-bottom: 5px;
        font-size: 1.5rem;
    }

    & .div-lg {
        min-height: 350px;
    }
}

.btn-float-end {
    float: right;
    position: relative;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    margin: 2px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-weight: 800
}

.btn-float-close {
    float: right;
    position: relative;
    background-color: #45536c; //#f04f24;
    color: #fff;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    right: -15px;
    top: -15px;
    cursor: pointer;
}

.btn-float-close:hover {
    float: right;
    position: relative;
    background-color: #f04f24;
    color: #fff;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    right: -15px;
    top: -15px;
    cursor: pointer;
}


.btn-share {
    border: 2px solid;
    border-radius: 10px;
    font-size: 0.875rem;
    padding: 0.25rem;
    min-width: 140px;
    background-color: #BFBFBF;
    cursor: pointer;
}

.btn-grey {
    border: 2px solid;
    border-radius: 10px;
    font-size: 0.875rem;
    padding: 0.25rem;
    min-width: 100px;
    font-weight: 600;
    background-color: #BFBFBF;
    cursor: pointer;
}

.btn-none {
    display: none;
}

.custom-box {
    width: 100%;
    margin: 0;
    padding: 0;
}

.m-0 {
    margin: 0px !important
}

.mt-1 {
    margin-top: .25rem !important
}

.mt-2 {
    margin-top: .5rem !important
}

.mt-3 {
    margin-top: 1rem !important
}

.ml-1 {
    margin-left: .25rem !important
}

.ml-2 {
    margin-left: .5rem !important
}

.ml-3 {
    margin-left: 1rem !important
}

.p-0 {
    padding: 0px !important
}

.p-1 {
    padding: .25rem !important
}

.pl-1 {
    padding-left: .25rem !important
}

.p-2 {
    padding: .5rem !important
}
.pr-2 {
    padding-right: .5rem !important;
}
.pl-2 {
    padding-left: .5rem !important;
}

.p-3 {
    padding: 1rem !important
}

.pr-3 {
    padding-right: .5rem !important;
}

.pt-3 {
    padding-top: .5rem !important;
}

.p-4 {
    padding: 1.5rem !important
}

.pt-4 {
    padding-top: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.pt-5 {
    padding-top: 3rem !important
}

.btn-link {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.btn-link:hover {
    color: #f04f24;
}

.btn-link.active {
    color: #f04f24;
    font-weight: bold;
}

.btn-disabled {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #888888;
}

.btn-disabled:hover {
    cursor: not-allowed;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #2b3342;
    border: none;
    min-width: 300px;
    color: white;

    .modal-header {
        padding-top: 10px;
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
    }

    .modal-body {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        min-height: 110px;
    }

    .modal-footer {
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: #45536c;
        min-height: 60px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.modal-md {
    min-width: 500px;
}

.overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.div-message {
    border: 2px solid #000;
    border-radius: 5px;
    height: 350px;
    padding: 10px 5px 5px;
    overflow: auto;
    word-wrap: break-word;
    font-size: 15px;
}

.message {
    padding: 5px;
}

.active-message {
    background-color: #BFBFBF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.message:hover {
    background-color: #BFBFBF;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 100ms linear;
}

.ReactModal__Overlay--after-open {
    opacity: 3;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.search-div {
    width: 50rem;
    text-align: center;
    margin: 0 auto;
}

.form-input {
    padding: 20px;
}

.form-label {
    color: #9599A0;
    font-size: 12px;
}

.input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
}

.search-input {
    border-radius: 50px;
    border: 0.5px;
    padding: 0px 20px;
}

.input-lg {
    height: 4rem;
    width: 95%;
    font-size: 20px;
}

.input-md {
    height: 2rem;
    font-size: 14px;
    width: 10rem;
}

.search-input:focus {
    outline: none;
}

.circle-button {
    background-color: #ee4e24;
    border: none;
    border-radius: 50px;
    min-height: 65px;
    min-width: 65px;
    color: white;
    cursor: pointer;
}

.btn {
    min-height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.btn-login {
    font-size: 16px;
    height: 30px;
    width: 100%;
    background-color: #f04f24;
    color: white;
    border: none;
}

.btn-login.user {
    border-radius: 50px;
    padding: 0px 20px;
}

.section-container {
    padding: 20px;
}

.container {
    flex: 0 0 auto;
    width: 11.5%;
    padding: 5px;
    min-height: 15rem;
}

.dark {
    background-color: #17191E
}

.sub-container {
    margin-top: 5px;
}

.img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-radius: 10px;
}

.img-div {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-radius: 10px;
}

.img-container {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: .3s ease;
}

.img-container:hover .overlay {
    opacity: 1;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.test:hover {
    cursor: pointer;
    color: #f04f24;
}